<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{% block title %} Electro Wallet {% endblock %}</title>
    <link rel="stylesheet" href={{ asset('assets/libs/mdbootstrap/css/bootstrap.min.css') }}>
    <link rel="stylesheet" href={{ asset('/assets/libs/mdbootstrap/css/mdb.css') }}>
    <link rel="stylesheet" href={{ asset('/assets/libs/@fortawesome/fontawesome-free/css/all.min.css') }}>
    <link rel="stylesheet" href="{{ asset('/assets/css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    {% include 'includes/favicon.html.twig' %}
    {% block stylesheets %}{% endblock %}
    <meta charset="utf-8">
</head>
<body>
{% block body %} {% endblock %}
<script src={{ asset('/assets/libs/mdbootstrap/js/jquery-3.3.1.min.js') }}></script>
<script src={{ asset('/assets/libs/mdbootstrap/js/popper.min.js') }}></script>
<script src={{ asset('/assets/libs/mdbootstrap/js/bootstrap.min.js') }}></script>
<script src={{ asset('/assets/libs/mdbootstrap/js/mdb.min.js') }}></script>
<script src={{ asset('/assets/js/main.js') }}></script>
{% block javascripts %}{% endblock %}
</body>
</html>

