{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-4 offset-4 mt-5">
                <div class="card">
                    <div class="card-title mt-3">
                        <h2 class="text-center text-warning">Log In</h2>
                    </div>
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-sm-12">
                                {% if error %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                                <form method="post">
                                    <div class="md-form">
                                        <label for="username">Username</label>
                                        <input class="form-control" type="text" id="username" value="{{ last_username }}" name="email">
                                    </div>
                                    <div class="md-form">
                                        <label for="password">Password</label>
                                        <input class="form-control" type="text" id="password"  name="password">
                                    </div>
                                    <div class="custom-control custom-checkbox my-3">
                                        <input type="checkbox" class="custom-control-input" id="remember">
                                        <label class="custom-control-label" for="remember">Remember Password</label>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-warning">Sign In</button>
                                    <hr>
                                    <button type="submit" class="btn btn-block btn-white"><img src="{{ asset('/assets/img/google.svg') }}" width="20"> Sign In With Google</button>
                                    <button type="submit" class="btn btn-block my-3" style="background-color: #3b5998;color: #fff"><i class="fab fa-facebook-f"></i> Sign In With FaceBook</button>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <p class="text-center text-light">&copy undefined; {{ "now"|date('Y') }}</p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
