{% extends 'base.html.twig' %}

{% block title %}
    Item
{% endblock %}

{% block body %}
    {% if articles %}
        <table class="table table-stripped table-dark" id="articles">
            <thead>
            <tr>
                <th>Article Title</th>
                <th>Article Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items%}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                        <a href="/article/edit/{{ item.id }}" class="btn btn-primary">Edit</a>
                        <a href="/article/show/{{ item.id }}" class="btn btn-success">Show</a>
                        <a href="#" data-id="{{ item.id }}" class="btn btn-danger delete-article">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No items</p>
    {% endif %}

{% endblock %}

