{% extends 'base.html.twig' %}

{% block title %}{{ category.title }} | List{% endblock %}

{% block body %}
    <h1 class="text-center text-warning font-weight-bold">{{ category.title }}</h1>
    {% for item in items %}
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ item.title }}</h1>
                <h3 class="text-muted">{{ item.description }}</h3>
                <ul>
                    <li class="font-weight-bold">Price: <span class="text-success">{{ item.price }}$</span></li>
                    <li class="font-weight-bold">Amount left: {{ item.amount }}</li>
                </ul>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
