<!-- Sidebar -->
<div class="sidebar-fixed position-fixed">

    <div class="logo-wrapper waves-effect" align="center">
        <i class="fa fa-wallet fa-4x"></i><h1>WALLET</h1>
    </div>

    <div class="list-group list-group-flush">
        <a href="{{ path('user_dashboard') }}" class="list-group-item list-group-item-action waves-effect" id="home">
            <i class="fas fa-chart-pie mr-3"></i>Dashboard
        </a>
        <a href="{{ path('user_dashboard_profile') }}" class="list-group-item list-group-item-action waves-effect" id="profile">
            <i class="fas fa-user mr-3"></i>Profile</a>
        <a href="{{ path('user_dashboard_tables') }}" class="list-group-item list-group-item-action waves-effect" id="tables">
            <i class="fas fa-table mr-3"></i>Tables</a>
        <a href="{{ path('user_dashboard_statistics') }}" class="list-group-item list-group-item-action waves-effect" id="statistics">
            <i class="fas fa-percentage mr-3"></i>Statistics</a>
        <a href="{{ path('app_logout') }}" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-sign-out-alt mr-3"></i>Log Out</a>
    </div>

</div>

<!-- Sidebar -->