{% extends 'base.html.twig' %}

{% block title %}
    Article
{% endblock %}

{% block body %}
    {% if articles %}
        <table class="table table-stripped table-dark" id="articles">
            <thead>
            <tr>
                <th>Article Title</th>
                <th>Article Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>{{ article.description }}</td>
                        <td>
                            <a href="/article/edit/{{ article.id }}" class="btn btn-primary">Edit</a>
                            <a href="/article/show/{{ article.id }}" class="btn btn-success">Show</a>
                            <a href="#" data-id="{{ article.id }}" class="btn btn-danger delete-article">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No articles</p>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="/assets/js/main.js"></script>
{% endblock %}
