{% extends 'base.html.twig' %}

{% block title %}
    Article | {{ article.title }}
{% endblock %}

{% block body %}

    <h1>{{ article.title }}  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Show more
        </a></h1>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <h4>{{ article.description }}</h4>
        </div>
    </div>
    <hr>

    {% if items %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Item Description</th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No items in article</h1>
    {% endif %}
    <a href="/article">Go back</a>

{% endblock %}
